In [1]:
from __future__ import division
from textblob import TextBlob
import pandas as pd
import numpy as np
import string
import re
import matplotlib.pyplot as plt
from src.sentimentAnalysis import detect_sentiment, setRating
%matplotlib inline

In [2]:
with open('data/trip_reports.json', 'rb') as f:
    data = f.readlines()

data = map(lambda x: x.rstrip(), data)
data_json_str = "[" + ','.join(data) + "]"
df = pd.read_json(data_json_str)

In [3]:
hike_data = pd.read_csv('data/itemData.csv')
ider = dict(zip(hike_data['hike_name'], hike_data['hike_id']))

In [4]:
df['Text'] = [r['Text'] for r in df['Report']]
df['Data'] = [r['Date'] for r in df['Report']]
df['HikeId'] = [ider[name.encode('utf-8')] for name in df['Name']]
df['Author'] = [r['Creator'].strip() for r in df['Report']]
authors = np.unique(df.Author)
ider = dict(zip(authors, range(len(authors))))
df['AuthorId'] = [ider[r] for r in df['Author']]
df = df.drop(labels=['Report','_id'], axis=1)

In [5]:
df['TextBlobSentiment'] = df['Text'].apply(detect_sentiment)

In [6]:
df['Rating'] = df['TextBlobSentiment'].apply(setRating)

In [7]:
df.head()

,Name,Text,Data,HikeId,Author,AuthorId,TextBlobSentiment,Rating
0,Grand Park via Lake Eleanor,Wonderful hike to Grand park. Overall the tra...,"Jul 23, 2016",0,SpartanHiker,10377,0.215000,4
1,Grand Park via Lake Eleanor,Hit the trailhead about 10:15 a.m. with a grou...,"Jul 17, 2016",0,DKreuger,2487,0.179529,4
2,Grand Park via Lake Eleanor,"I hiked Grand Park last year and it was great,...","Jul 16, 2016",0,Cascadian Hiker,1948,0.114120,2
3,Grand Park via Lake Eleanor,"(Revisited on Friday, July 15th - update for t...","Jul 15, 2016",0,Alien Dave,492,0.181702,4
4,Grand Park via Lake Eleanor,Nice hike after a few potholes on drive up for...,"Jul 15, 2016",0,"[email protected]/* <![CDATA[ */!function(t,e,...",12210,0.200000,4

In [11]:
df.describe()

             HikeId      AuthorId  TextBlobSentiment        Rating
count  78042.000000  78042.000000       78042.000000  78042.000000
mean     602.130853   9691.268356           0.167313      3.001384
std      551.584931   5570.808937           0.130577      1.415734
min        0.000000      0.000000          -1.000000      1.000000
25%      176.000000   5076.000000           0.089763      2.000000
50%      430.000000   9448.500000           0.153412      3.000000
75%      917.000000  14361.000000           0.228519      4.000000
max     3364.000000  19633.000000           1.000000      5.000000

In [12]:
df.to_csv('data/tripReports.csv',  encoding='utf-8')