In [1]:
import pandas as pd
from pymongo import MongoClient
import numpy as np

In [11]:
df = pd.read_csv('data/washington_hikes_clean_noout.csv')

In [12]:
client = MongoClient()
db = client['wta']
hikes = db['hikes']
db.hikes.drop()

In [13]:
df.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Unnamed: 0.1,0,1,2,3,4
Unnamed: 0.1,0,1,2,3,4
hike_name,Grand Park via Lake Eleanor,Shellrock Pass,Soda Peaks Lake,Shorthorn,West Fork Teanaway River
region,Mount Rainier Area -- NE - Sunrise/White River,North Cascades -- Pasayten,Southwest Washington -- Lewis River Region,South Cascades -- Mount Adams Area,Snoqualmie Region -- Salmon La Sac/Teanaway
length,"8.0 miles, roundtrip",NaN,"7.0 miles, roundtrip","5.6 miles, roundtrip","9.6 miles, one-way"
elevation gain,1100,NaN,2500,1400,2800
rating,4.25 out of 5,2.33 out of 5,3.00 out of 5,3.67 out of 5,2.75 out of 5
number_votes,12,3,4,3,4
features,"[Mountain views, Wildlife, Established campsites]",[Dogs allowed on leash],"[Old growth, Lakes]","[Mountain views, Dogs allowed on leash]","[Ridges/passes, Wildlife, Established campsite..."
"pass(0-no pass, 1- pass required)",0,0,1,1,1
which_pass,No pass or permit required,No pass or permit required,Northwest Forest Pass required,Northwest Forest Pass required,Northwest Forest Pass required
time_from_seattle,116.533,NaN,227.333,207.433,115.75
url,http://www.wta.org/go-hiking/hikes/grand-park,http://www.wta.org/go-hiking/hikes/shellrock-pass,http://www.wta.org/go-hiking/hikes/soda-peaks-...,http://www.wta.org/go-hiking/hikes/shorthorn,http://www.wta.org/go-hiking/hikes/west-fork-t...
latlong,http://maps.google.com/maps?hl=en&sz=11&spn=0....,NaN,http://maps.google.com/maps?hl=en&sz=11&spn=0....,http://maps.google.com/maps?hl=en&sz=11&spn=0....,http://maps.google.com/maps?hl=en&sz=11&spn=0....
numReports,212,2,24,5,5
hike_desc,The classic approach (via Sunrise) to this sea...,The Shellrock Pass trail has not been maintain...,Take a trip to a seldom-seen part of the South...,This trail ascends the south slopes of Mount A...,The West Fork Teanaway Trail begins at Forest ...
stars,4.25,2.33,3,3.67,2.75
total_dist,8,NaN,7,5.6,19.2
lat_long,"46.9963,-121.6413",NaN,"45.8846,-122.0001","46.1989,-121.0593","47.2915,-121.0064"
hike_id,0,1,2,3,4

In [14]:
df['time_from_seattle'] = [np.round(x) for x in df['time_from_seattle']]
df.fillna('Not Reported', inplace=True)

In [15]:
for i in range(len(df)):
    hikes.insert({'name': df['hike_name'][i], 'hike_id': df['hike_id'][i], 'elevation': df['elevation gain'][i], 'total_dist': df['total_dist'][i],
                 'time_from_seattle': df['time_from_seattle'][i], 'numReports': df['numReports'][i], 'url': df['url'][i], 'pass_required': df['which_pass'][i],
                'region': df['region'][i]})

/Users/Jade/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

In [16]:
hikes.count()

3337

In [9]:
len(df)

3337

In [17]:
for c in hikes.find({}).limit(1):
    print c

{u'hike_id': 0, u'elevation': 1100.0, u'name': u'Grand Park via Lake Eleanor', u'url': u'http://www.wta.org/go-hiking/hikes/grand-park', u'region': u'Mount Rainier Area -- NE - Sunrise/White River', u'time_from_seattle': 117.0, u'numReports': 212.0, u'pass_required': u'No pass or permit required', u'_id': ObjectId('57a3ca597c6fb8aa9923e836'), u'total_dist': 8.0}

In [15]:
users = pd.read_csv(open('data/tripReports.csv','rU'), encoding='utf-8', engine='c')

In [17]:
users=users[['Creator', 'author_id']]

In [21]:
users.drop_duplicates(inplace=True)

/Users/Jade/anaconda/lib/python2.7/site-packages/pandas/util/decorators.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return func(*args, **kwargs)

In [24]:
users = users.reset_index()

In [28]:
users.head()

   index       Creator  author_id
0      0      amart005    12474.0
1      1      xandwich    19583.0
2      2      HeatherD     4317.0
3      3       Lindy99     6676.0
4      4  SpartanHiker    10392.0

In [27]:
for i in range(len(users)):
    db.users.insert({'username': users['Creator'][i], 'id': users['author_id'][i]})

/Users/Jade/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  from ipykernel import kernelapp as app

In [29]:
import graphlab as gl

In [30]:
model = gl.load_model('pickle/recommender.pkl')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1470250814.log
INFO:graphlab.cython.cy_server:GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1470250814.log

This non-commercial license of GraphLab Create for academic use is assigned to jat257@cornell.edu and will expire on June 30, 2017.

In [37]:
my_recs = model.recommend(users=[1], k=5)

In [38]:
my_recs

Columns:
	author_id	int
	hike_id	int
	score	float
	rank	int

Rows: 5

Data:
+-----------+---------+---------------+------+
| author_id | hike_id |     score     | rank |
+-----------+---------+---------------+------+
|     1     |    86   | 2.46173233068 |  1   |
|     1     |    79   | 2.22137318826 |  2   |
|     1     |    28   | 1.97761673009 |  3   |
|     1     |    81   | 1.94937682426 |  4   |
|     1     |   652   | 1.80056917941 |  5   |
+-----------+---------+---------------+------+
[5 rows x 4 columns]

In [40]:
ecs = db.hikes.find({"hike_id": {"$in": my_recs['hike_id'].values()}})

AttributeError: 'SArray' object has no attribute 'values'

In [43]:
list(my_recs['hike_id'])

[86, 79, 28, 81, 652]

In [44]:
user = [db.users.count()+1]

In [47]:
type(user)

list

In [49]:
type(db.users.find_one({'username': 'jadetabony'}))

NoneType

In [60]:
from src.sentimentAnalysis import detect_sentiment, setRating